@import './variables';

.nav-container
{
    width: 100vw;
    margin: auto;
    z-index: 100;
}

nav{
    display:grid;
    grid-template-rows: minmax(min-content, 60px) min-content;
    position: fixed;
    border-bottom: 1px solid rgb(122, 23, 23);
    .content{
        background-color: #000000c4;
        display: grid;
        place-items: center;
        grid-auto-flow: column;
        align-content: space-evenly;
        /* filter: drop-shadow(-0.1em 0.3em .06em rgba(31, 0, 0, 0.253)); */
    }
    a{
        text-decoration: none;
        color: white !important;
    }
    a:hover{
        color: rgb(122, 23, 23) !important;
        font-weight: bold;
    }
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
    }
    li{
        display: inline-block;
    }
}

.nav-list{
    display: grid;
    grid-gap: 3em;
    grid-auto-flow: column;
    grid-auto-columns: minmax(min-content, 90px);
    font-family: $bigFont;
}