// @import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import url('../fonts/italiana.css');
@import url('../fonts/nunito.css');
@import './nav';
@import './variables';
@import './card';
@import './bigCard';

*{
    margin:0;
    scrollbar-width: auto;
    scrollbar-color: rgb(0, 0, 0) rgb(110, 110, 110);
}

*::-webkit-scrollbar {
    width: 12px;
  }
  *::-webkit-scrollbar-track {
    background: rgb(110, 110, 110);
  }
  *::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    border: 3px solid rgb(43, 43, 43);
  }

h1{
    font-family: $font;
    font-size: 4em;
}

html{
    scroll-behavior: smooth;
    font-family: $bigFont;
}

.section-wrapper{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    justify-items: center;
}

.section-wrapper > div{
    padding: 1em;
}

#nav{
    grid-area: nav;
}

#one{
    /* background: #000000c9; */
    /* height: calc(100vh - 100px); */
    /* padding-top: 60px; */
    background-image: linear-gradient(90deg, 
    rgba(255, 0, 0, 0.164), 
    rgba(0, 0, 255, 0.171));
    
    min-height: 100vh;
    overflow: hidden;
    position: relative;
}
#two{
    color: #001725 ;
    background-color: #99c9ad;
    padding-top: 60px;
}

#three{
    // height: 20vh;      
    padding-top: 5em;
    background-color: #99c9ad;
}

#four{
    display:grid;
    grid-auto-rows: min-content;
    height: 100vh;
    padding-top: 5em;
    background-color: #00a5ce;
    h1{
        justify-self: center;
        padding-bottom: 20px;
    }
}

#fourContent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.fourItem{

}

#bigName{
    font-size: 6.5vw;
    font-family: $font;
    color: #ffffff9f;
    /* background: #0000005d; */
    /* background-image: linear-gradient(90deg,
    rgba(234, 0, 255, 0.178),
    rgba(255, 136, 0, 0.185)); */
}

#titles{
    font-size: 1vw;
    color: #ffffff;
    /* filter: drop-shadow(-0.1em 0.3em .06em rgba(31, 0, 0, 0.253)); */
    font-family: $bigFont;
    // background: #00000023;    
    text-align: center;
    a{
        text-decoration: none;
        animation: link-animation 1s infinite alternate;
    }

}



#skills{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 7em;
    grid-auto-rows: min-content auto;
}

#languages{
    font-size: 20px;
    list-style-type: none;
    font-weight: bold;
    ul > * {
        font-weight: normal;
        font-size: 18px;
    }
}

/* #one{
    background-image: url("modular.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

.video-bg{
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    z-index: -1;
}

h1{
    color: rgb(51, 22, 11);
}

p{
    font-size: 24px;
}

#skills > div > p{
    font-size: 22px;
}

#skills > div > h2{
    font-size: 30px;
}

#emphasis{
    color: #464646;
    // font-weight: bold;
    // filter: drop-shadow(0px 0px 1px black);
}

mark{
    background-color: #0000001a;
}

@keyframes link-animation{
    0%{
        color: white;
        filter: drop-shadow(0px 0px 4px white);
    }
    100%{
        color: rgba(255, 255, 255, 0.308);
    }
}

button{
    width: 400px;
    background-color: red;
}

// @media only screen and (max-width: 550px){
//     #two{
//         grid-template-columns: 1fr;
//         grid-template-rows: 0.4fr, 0.5fr, 0.fr;
//     }
// }

.myButton {
	background-color:#772111;
	border:1px solid #241d13;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	padding:9px 23px;
    text-decoration:none;
    height: 20px;
    width: 5vw;
    justify-content: center;
}
.myButton:hover {
	background-color:#b34332;
}
.myButton:active {
	position:relative;
	top:1px;
}

.btn{
    width: 200px;
    height: 60px;
    background:none;
    border: 4px solid;
    //color: #001725;
    color: $buttonColor;
    font-weight: 700;
    cursor: pointer;
    font-size: 16px;
    position: relative;
    font-family: $bigFont;
}

.btn::before,.btn::after{
    content: "";
    position: absolute;
    width: 14px;
    height: 4px;
    background: #99c9ad;
    transform: skewX(50deg);
    transition: .2s linear;
    //filter:drop-shadow(0 0 0.75rem white);
}
.btn::before{
    top:-4px;
    left: 10%;
}
.btn::after{
    bottom: -4px;
    right: 10%;
}
.btn:hover::before{
    left: 80%;
}
.btn:hover::after{
    right: 80%;
}

.btnAnchor{
    text-decoration: none;
    color: $buttonColor;
}

// .btn-div{
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }

a > img{
    width: 370px;
}